# Instagram API
ACCESS_TOKEN=your_instagram_access_token
INSTAGRAM_BUSINESS_ID=your_instagram_business_id
PAGE_ID=your_facebook_page_id

# Google Drive
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id

# Config
POSTS_PER_DAY=1
